.btn{
    display: inline-block;
    padding: 1.2em;
    margin: 1.2em;
    min-width: 100px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    text-transform: uppercase;
}