*{
    margin: 0;
}
.container{
    height: 100vh;
    background-color: rgb(11, 101, 43);
    background-image:url(./../../images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right botton;
}
.heading{
    color: white;
    text-align: center;
    padding-top: 10%;
}