.image{
    box-sizing: border-box;
    width: 300px;
    padding: -2px;
    border: 1px dotted black;
    margin: 5px;
    background-color:rgba(127, 255, 212, 0.501);
    object-fit: cover;
    object-position: top;
}
.gallery{
    text-align: center;
}
.span{
    display: inline-block;
    box-sizing:border-box;
    width: 200px;
   padding: 20px;
   border: 2px solid red;
   margin: 0 10px;
}
.div{
    display: inline-block;
    box-sizing:border-box;
    width: 25%;
   padding: 20px;
   border: 2px solid rgb(70, 34, 228);
   margin: 30px auto;
}
.margin{
    margin-top: -5px;
}